@font-face {
  font-family: "Inter";
  src: url(./assets/fonts/Inter-Regular.ttf);
}
@font-face {
  font-family: "Manrope";
  src: url(./assets/fonts/Manrope-Regular.ttf);
}
@import "tailwindcss";

@theme {
  --font-Inter: "Inter", sans-serif;
  --font-Manrope: "Manrope", sans-serif;
}

@layer components {
  .section-title {
    @apply font-Manrope text-[#282E38] text-base uppercase md:text-lg;
  }

  .section-heading {
    @apply font-Manrope mt-4 text-[28px] font-medium leading-9 md:text-[40px] md:leading-normal;
  }

  .mobile-nav-gradient {
    background: #16202b;
    border-bottom: 1px solid rgba(140, 155, 206, 0.3);
  }

  .nav-gradient {
    border-bottom: 1px solid rgba(140, 155, 206, 0.3);
    border-color: rgba(140, 155, 206, 0.3);
    background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.6) 0%,
      rgba(0, 0, 0, 0) 100%
    );
  }

  .linkedIn-btn {
    border-radius: 4px;
    border: 1px solid rgba(140, 155, 206, 0.3);
  }

  .hero-image {
    position: relative;
    height: 500px;
    background-image:
      linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
      url("/hero_image.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .hero-image-overlay {
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.4);
  }
}

@layer utilities {
  .hero-careers-bg {
    background:
      linear-gradient(0deg, rgba(23, 23, 25, 0.85), rgba(23, 23, 25, 0.85)),
      url("./hero_image.png");
    background-repeat: no-repeat;
    background-position: 0px -227.117px;
    background-size: 100% 387.179%;
  }
}
